<h1>National Unemployment Rate</h1>
<canvas id="myChart"></canvas>


<script>
$(document).ready(function(){
var data = {
    labels: [],
    datasets: [
        {
            label: "National Unemployment Rate",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [],
        }
    ]
};

  $.ajax({
    dataType: 'json',
    cache: false,
    url: '/national_data/national.json',
    timeout: 2000,
    error: function(XMLHttpRequest, errorTextStatus, error) {
      alert('Failed to submit : ' + errorTextStatus + ' ;' + error);
    },
    success: function(graphData) {
      Jgraph = graphData
      data.labels = graphData.national_unemployment.labels
      data.datasets[0].data = graphData.national_unemployment.value
      createGraph()

    }
  });


  function createGraph() {
    var ctx = document.getElementById("myChart");

    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: '%'
            },
            stacked: false,
            ticks: {
              beginAtZero: true,
              max: 6,
              min: 4,
              stepSize: 1
            },
          }]
        }
      }
    });
  }

});
</script>
