<h1>Economic Data</h1>
<ul>
  <li><%= link_to 'Unemployment Rates for Major Metro Areas', national_data_path %></li>
  <li><%= link_to 'National Unemployment Rate', national_data_national_path %></li>
  <li><%= link_to 'National Employment 1 Month Change', national_data_employment_path %></li>
</ul>
