<h1>Economic Data</h1>
<ul>
  <li><%= link_to 'Unemployment Rates for Major Metro Areas', employments_path %></li>
  <li><%= link_to 'National Unemployment Rate', employments_national_path %></li>
</ul>
